catkin_ws/build/
catkin_ws/build_isolated/
catkin_ws/devel/
catkin_ws/devel_isolated/
catkin_ws/install_isolated/
catkin_ws/abseil-cpp/
maps/
*.vscode
*.pyc
.rosinstall*
bag_files/
f1tenth_system/
*.py[cod]