<?xml version="1.0"?>
<launch>
  <include file="$(find f1tenth_simulator)/launch/simulator.launch"/>
  <include file="$(find pure_pursuit)/launch/tracker.launch"/>
  <include file="$(find reactive)/launch/reactive.launch"/>
  <include file="$(find reactive)/launch/amcl.launch"/>

   <!-- Run the costmap node -->
  <node name="costmap_node" pkg="costmap_2d" type="costmap_2d_node" >
    <rosparam file="$(find vehicle)/params/costmap.yaml" command="load" ns="costmap" />
  </node>

  <!-- <node name="map_publisher" pkg="vehicle" type="map_publisher.py" output = "screen"/> -->
  <node name="vehicle_node" pkg="vehicle" type="vehicle.py" output = "screen"/>

</launch>
