<?xml version="1.0"?>
<launch>
  <include file="$(find f1tenth_simulator)/launch/simulator.launch"/>
  <include file="$(find pure_pursuit)/launch/tracker.launch"/>
  <include file="$(find reactive)/launch/reactive.launch"/>
  <include file="$(find reactive)/launch/ukf.launch"/>
  <node name="vehicle_node" pkg="vehicle" type="vehicle.py" output = "screen"/>
</launch>
